html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #e0e0e0;
  }
  
  .form-box {
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
    color: #fff;
  }
  
  .form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
  }
  
  .user-box {
    margin-bottom: 30px;
    position: relative;
  }
  
  .user-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #03e9f4;
    background: black;
    border: 1px solid #03e9f4;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button:hover {
    background: #03e9f4;
    color: #fff;
  }
  